<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active menu-here"
    routerLink="/dashboard"
  >
    <span class="menu-title" translate="MENU.DASHBOARD"></span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="menu-here"
    routerLink="/income"
  >
    <span class="menu-title">Entradas</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="menu-here"
    routerLink="/withdrawal"
  >
    <span class="menu-title">Salidas</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="menu-here"
    routerLink="/raw-materials"
  >
    <span class="menu-title">Materia prima</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="menu-here" routerLink="/products">
    <span class="menu-title">Productos</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="menu-here"
    routerLink="/measurement-units"
  >
    <span class="menu-title">Unidades de medida</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="menu-here"
    routerLink="/product-sizes"
  >
    <span class="menu-title">Tallas</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="menu-here"
    routerLink="/product-styles"
  >
    <span class="menu-title">Estilos</span>
  </a>
</div>